body {
    padding: 25px;
    background-color: white;
    color: black;
  }
  
  .dark-mode {
    background-color: #202020;
    color: white;
  }

.SocialMediaLink a{
    text-decoration: none;
    color: #0D6EFD;
}
.address a{
    text-decoration: none;
    color: #0D6EFD; 
}
.ProjectLink a{
    text-decoration: none;
    color: #0D6EFD; 
}
.coreKnowledge h6{
    font-weight: normal;
}
